.register-form {
  padding: 30px;
  margin: auto;

  &__title {
    text-align: center;
    color: #000;
    font-size: 30px;
  }

  form {
    mat-form-field {
      width: 100%;
    }

    button {
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border: 1px solid;
      border-radius: 10px;
      font-size: 20px;
      margin: auto;
      background-color: green;
      cursor: pointer;
    }

    .password-container {
      display: flex;
      flex-direction: column;
    }

    .is-invalid {
      border-left: solid 6px red;
    }

    .material-icons {
      display: inline-flex;
      vertical-align: middle;
    }

    .text-danger {
      color: red;
    }

    .text-success {
      color: green;
    }
    :disabled {
      background-color: gray;
      cursor: auto;
    }
  }
}
.after-submit { text-align: center}
