<div class="password-check">
  <div class="instruction-step {{passwordStrength.checkCapitalLetter.checked ? 'password-checked' : ''}}">
                <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkCapitalLetter.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkCapitalLetter.checked">close</mat-icon>
        </span>
    <span class="check-text"> At least one capital letter
        </span>
  </div>
</div>
