<div class="password-checker">
  <div class="password-checker-title"> Password should be
  </div>
  <div class="instruction-step {{passwordStrength.checkCount.checked ? 'password-checked' : ''}}">
        <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkCount.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkCount.checked">close</mat-icon>
        </span>
    <span class="check-text"
    >Between 8 to 20 characters
        </span>
  </div>
  <div class="instruction-step {{passwordStrength.checkCapitalLetter.checked ? 'password-checked' : ''}}">
                <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkCapitalLetter.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkCapitalLetter.checked">close</mat-icon>
        </span>
    <span class="check-text">
      At least one capital letter
        </span>
  </div>
  <div class="instruction-step {{passwordStrength.checkSmallLetter.checked ? 'password-checked' : ''}}">
        <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkSmallLetter.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkSmallLetter.checked">close</mat-icon>
        </span>
    <span class="check-text"> At least one small letter</span>
  </div>
  <div class="instruction-step {{passwordStrength.checkSpecialChar.checked ? 'password-checked' : ''}}">
        <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkSpecialChar.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkSpecialChar.checked">close</mat-icon>
        </span>
    <span class="check-text"> At least one special character
        </span>
  </div>
  <div class="instruction-step {{passwordStrength.checkNumber.checked ? 'password-checked' : ''}}">
        <span class="check-icon">
            <mat-icon class="check-icon_correct" *ngIf="passwordStrength.checkNumber.checked">check</mat-icon>
            <mat-icon class="check-icon_wrong" *ngIf="!passwordStrength.checkNumber.checked">close</mat-icon>
        </span>
    <span class="check-text"
         > At least one number
        </span>
  </div>
</div>
