.password-checker {
  .instruction-step {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;

    &.password-checked {
      .check-text {
        text-decoration: line-through;
      }
    }

    .check-icon {
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &_correct {
        color: #00b267;
      }

      &_wrong {
        color: red;
      }
    }

    .check-text {
      margin: 0 15px;
    }
  }
}
